@import "tailwindcss";

@theme {

  --font-arial:arial;
--color-ten:#fbfad3;
--color-bordo:#730404;
--color-koyubordo:#4a0d04;
--color-kahve:#3c2a23;
--color-lacivert:#091440;
--color-aclacivert:#18265e;
--color-araten:#fff1b7;
--color-beyaz:#fdf3e9;
}

